  <div class="product-list-container">



    <div class="d-flex justify-content-between align-items-center mb-3">
          
      <button class="btn btn-primary" routerLink="/new-product">New Product</button>

    </div>




    <h2>Product List</h2>
    <table class="product-table">
      <thead>
        <tr>
          
          <th>Product Name</th>
          <th>Category Name</th>
          <th>Product Details</th>
          <th>Created Date</th>
          <th>Price</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.productName }}</td>
          <td>{{ product.categoryName }}</td>
          <td>{{ product.productDetails }}</td>
          <td>{{ product.createdDate | date: 'dd-MMM-yyyy' }}</td>
          <td>{{ product.price }}</td>
          
          
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noData>
    <p>No Product found.</p>
  </ng-template>

